{% extends 'base.html' %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
    <div class="row">
        <!-- Quizzes. -->
        <div class="col-md-8 offset-md-2">
	        <h1>Quizzes</h1>
	        <hr>
			{% if quizzes %}
				<div class="list-group rounded-0">
					{% for quiz in quizzes %}
						<a href="{% url 'quiz_detail' quiz.id %}" class="list-group-item list-group-item-action">{{ quiz.title }}</a>
					{% endfor %}
				</div>
			{% else %}
				<p>No quizzes found for this category.</p>
			{% endif %}
	    </div>
    </div>
{% endblock %}